/* src/index.css */
:root {
    --background-light: #ffffff;
    --background-dark: #333333;
    --text-light: hsl(0, 0%, 0%);
    --text-dark: #6200ea;
  }
  
  [data-theme='light'] {
    --background: var(--background-light);
    --text: var(--text-light);
  }
  
  [data-theme='dark'] {
    --background: var(--background-dark);
    --text: var(--text-dark);
  }
  
  body {
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s, color 0.3s;
  }
  